
body {
    background-color: var(--background-color-dark);
    color : var(--text-color-light);
    padding: 50px;
}
.spoiler-content{
    display: none;
    transition: display 0.5s;
}
.spoiler-content .visible {
    display: block;
}