/* ************** Theme colors ************** */
body {
    background-color: var(--background-color-light);
    color:var(--text-color-light);
}
#visible-light {
    background-color: var(--background-color-dark);
    color:var(--text-color-light);
}
.visible-link-light {
    background-color: var(--background-color-dark);
    color:var(--text-color-light);
    text-decoration: underline;
}
.visible-link-dark {
    background-color: var(--background-color-light);
    color:var(--text-color-dark);
    text-decoration: underline;
}
.dark-theme {
    background-color: var(--background-color-dark);
    color:var(--text-color-dark);
}
#visible-dark {
    background-color: var(--background-color-light);
    color:var(--text-color-dark);
}
.bigLetter {
    color:var(--text-color-dark);
}
#switch-on {
    color:inherit;
    background-color: inherit;
    border:0;
    font-size: 1.8rem;
    position: fixed;
    top:0; right: 10px;
}
#switch-on:focus{
    border:0;
    outline: -webkit-focus-ring-color auto 0;
}
.link-left {
    display: inline;
    float: left;
}
.link-right {
    display: inline;
    float: right;
}